ADMIN_API_PORT=3100
ADMIN_EMAIL=admin@openguidehub.local
ADMIN_PASSWORD=Admin@12345
DATABASE_PROVIDER=postgresql
DATABASE_URL=postgresql://user:password@localhost:5432/ogh_admin
MYSQL_DATABASE_URL=mysql://user:password@localhost:3306/ogh_admin
VITE_POCKETBASE_URL=http://localhost:8090
